.agitation {
  padding-top: 45px;
  padding-bottom: 49px;
}

.agitation__text {
  color: #283645;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 250px;
}

@media (min-width: @tablet-width) {
  .agitation {
    padding-top: 92px;
    padding-bottom: 76px;
  }

  .agitation__text {
    font-size: 18px;
    line-height: 30px;
    max-width: 440px;
  }
}

@media (min-width: @desktop-width) {
  .agitation {
    padding-top: 92px;
    padding-bottom: 89px;
  }

  .agitation__text {
    max-width: 575px;
  }
}

.logoq:hover {
  fill: red;
}
