.comment__user-name {
  color: #283645;
  font-weight: bold;
}

.comment__user-message {
  color: #283645;
  line-height: 24px;
  // font-weight: regular;
}

.comment__time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
  font-weight: 300;
}
