.comment {
  color: #283645;
  line-height: 24px;
  padding-top: 25px;
  min-height: 155px;

  &__user-name {
    font-weight: bold;
    margin: 0;
  }

  &__time {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
  }
}
