.form-posting__title {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  padding-top: 20px;
  color: #283645;
}

.form-posting__list-wrapper {
  border-bottom: 1px solid #dddfe0;
}

.form-posting__form {
  padding-top: 62px;
}

.form-posting__wrapper {
  background: #f2f2f2;
}

.form-posting__list {
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 33px;
  width: 240px;
  outline: 2px solid;
  margin: 0 auto;
  padding-bottom: 64px;
}

.form-posting__item {
  outline: 2px solid;
  width: 33%;
}

.form-posting__item .form-posting__crop {
  padding-left: 14px;
}

.form-posting__item .form-posting__contrast {
  padding: 8px 24px;
}

.form-posting__item .form-posting__fill {
  padding: 2px 15px;
}

.form-posting__photo {
  max-width: 280px;
  margin: 0 auto;
}

.form-posting__item button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

.form-posting__item-icon--contrast {
  width: 32px;
  height: 32px;
}

.form-posting__control {
  position: relative;
}

.form-posting__control--crop {
  position: absolute;
  width: 240px;
  height: 2px;
  background: black;
  top: 30px;
  left: -2px;
}

.form-posting__control--crop::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 33px;
  top: -6px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
}

.form-posting__control--fill {
  display: none;
}

.form-posting__control--contrast {
  display: none;
}

.form-posting__button-wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 37px;
  padding-bottom: 40px;
}

.form-posting__button-post {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  background: #ffffff;
  border: 3px solid #d22856;
  border-radius: 30px;
  padding: 16px;
}

.form-posting__button-cancel {
  opacity: 0.1;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #283645;
  background: #ffffff;
  border: 3px solid #283645;
  border-radius: 30px;
  padding: 16px;
  margin-top: 12px;
}

@media (min-width: @tablet-width) {
  .form-posting__form {
    display: flex;
    max-width: 620px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 57px;
  }


  .form-posting__photo {
    max-width: 300px;
    margin: 0;
  }

  .form-posting__post {
    width: 300px;
    outline: 2px solid;
  }

  .form-posting__title {
    font-size: 18px;
    line-height: 30px;
    padding-top: 44px;
    max-width: 750px;
    padding-bottom: 69px;
  }

  .form-posting__list {
    flex-direction: column;
    padding: 0;
    width: auto;
  }

  .form-posting__item-icon {
    width: 24px;
    height: 40px;
    padding-left: 27px;
  }

  .form-posting__item .form-posting__crop {
    padding: 0;
  }

  .form-posting__item .form-posting__contrast {
    padding: 0;
  }

  .form-posting__item .form-posting__fill {
    padding: 0;
  }

  .form-posting__item {
    margin-bottom: 28px;
  }

  .form-posting__contrast .form-posting__item-icon--contrast {
    width: 16px;
    height: 25px;
    padding-left: 33px;
  }

  .form-posting__control--fill {
    display: block;
  }

  .form-posting__control--contrast {
    display: block;
  }

  .form-posting__control--crop {
    width: 202px;
    top: -28px;
    left: 80px;
  }

  .form-posting__control--crop::after {
    right: 42px;
  }

  .form-posting__control--fill {
    position: absolute;
    width: 202px;
    height: 2px;
    background: black;
    top: -30px;
    left: 80px;
  }

  .form-posting__control--fill::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 163px;
    top: -6px;
    background: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }

  .form-posting__control--contrast {
    position: absolute;
    width: 202px;
    height: 2px;
    background: black;
    top: -20px;
    left: 80px;
  }

  .form-posting__control--contrast::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 92px;
    top: -6px;
    background: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }

  .form-posting__button-wrapper {
    max-width: 260px;
    padding-top: 55px;
    padding-bottom: 40px;
    margin: 0 0 0 27px;
  }

  .form-posting__button-cancel {
    margin-top: 23px;
  }

  .form-posting__wrapper {
    padding-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .form-posting__title {
    padding-top: 0px;
    padding-bottom: 64px;
  }

  .form-posting__form {
    max-width: 940px;
    padding-top: 45px;
  }

  .form-posting__photo {
    margin-left: 80px;
    padding-top: 12px;
  }

  .form-posting__post {
    width: 412px;
    margin-right: 60px;
  }

  .form-posting__item {
    margin-bottom: 12px;
  }

  .form-posting__item-icon {
    width: 48px;
    height: 48px;
    padding-left: 0;
    padding-top: 8px;
  }

  .form-posting__contrast .form-posting__item-icon--contrast {
    width: 33px;
    height: 33px;
    padding-left: 7px;
  }

  .form-posting__control--crop {
    width: 288px;
    top: -32px;
    left: 94px;
  }

  .form-posting__control--crop::after {
    right: 203px;
  }

  .form-posting__control--fill {
    width: 288px;
    top: -34px;
    left: 94px;
  }

  .form-posting__control--fill::after {
    right: 27px;
  }

  .form-posting__control--contrast {
    width: 288px;
    top: -24px;
    left: 94px;
  }

  .form-posting__control--contrast::after {
    right: 114px;
  }

  .form-posting__button-wrapper {
    max-width: 412px;
    padding: 0;
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px auto;
    align-items: flex-end;
    height: 202px;

  }

  .form-posting__button-post {
    padding: 16px 40px;
    margin-left: 2px;
  }

  .form-posting__button-cancel {
    padding: 16px 52px;
  }

  .form-posting__wrapper {
    padding-bottom: 50px;
  }
}
