.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: 8px;
  right: 0;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #ffffff;
  box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

// .main-nav--closed .main-nav__toggle:active::before {
//   background-color: rgba(255, 255, 255, 0.3);
//   box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
// }

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 74px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;

  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 74px;
    width: 30px;
    height: 5px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  // &:active::before,
  // &:active::after {
  //   background-color: rgba(255, 255, 255, 0.3);
  // }
}

@media (max-width: 959px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}

@media (min-width: 660px) {
  .main-nav--opened .main-nav__toggle::before {
    top: 21px;
  }

  .main-nav--opened .main-nav__toggle::after {
    top: 21px;
  }


  .main-nav__toggle {
    right: 93px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    outline: 2px solid red;
    display: flex;
    width: 620px;
    justify-content: space-between;
  }

  .main-nav {
    display: flex;
    max-width: 940px;
    margin: 0 auto;
  }

  .main-nav__wrapper {
    margin-top: 46px;
    padding-left: 73px;
  }
}
