.offer {
  &__opportunity {
    background-color: #f2f2f2;
    padding-top: 50px;
  }

  &__question {
    padding-top: 46px;
    padding-bottom: 37px;
    margin: 0;
    font-size: 24px;
    color: #283645;
  }

  &__slogan {
    margin: 0;
    padding-bottom: 50px;
    font-size: 24px;
    color: #283645;
  }

  &__image {
    text-align: center;
  }

  &__header {
    text-align: center;
  }

  &__opportunity--qwerty {
    display: none;
  }
}

@media (min-width: 660px) {
  .offer__opportunity {
    display: flex;
  }

  .offer__opportunity-wrapper {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-right: 20px;
  }

  .offer__question,
  .offer__slogan {
    font-size: 40px;
  }

  .offer__opportunity-image {
    height: 280px;
    width: 300px;
    background: url("../img/icon-timer.svg") no-repeat;
  }

  .offer__opportunity--qwerty {
    background: #ffffff;
  }
}

@media (min-width: @desktop-width) {
   .offer__header {
    background-color: #ffffff;
    max-width: 750px;
  }

  .offer__opportunity {
    margin: 0 auto;
  }

  .offer__opportunity-wrapper {
    width: 940px;
    margin: 0 auto;
  }

  .offer__item {
    display: flex;
  }

  .offer__opportunity--qwerty {
    background-color: #f2f2f2;
  }

  .offer__item-image-1::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat;
  }

  .offer__item-image-2::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat;
  }

  .offer__item-image-3::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat;
  }

  .offer__image {
    display: none;
  }
}
