.opportunity {
  &__item-head {
    margin: 0;
    padding-bottom: 22px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    color: #283645;
  }

  &__item-body {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    color: #283645;
  }
}
