.opportunity {
  margin-bottom: 32px;
}

.opportunity__item-head {
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.opportunity__item-head br {
  display: none;
}

.opportunity__item-body br {
  display: none;
}

.opportunity__item-body {
  margin: 0;
  text-align: center;
  letter-spacing: 0;
  color: #283645;
}

@media (min-width: @tablet-width) {
  .opportunity {
    margin-bottom: 34px;
    padding-left: 10px;
  }

  .opportunity__time {
    width: 310px;
    text-align: left;
  }

  .opportunity__item-body {
    text-align: left;
  }

  .opportunity__item-head {
    text-align: left;
    margin-bottom: 12px;
  }

  .opportunity__item-head--time {
    padding-top: 37px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }


  .opportunity__item-head--time br {
    display: block;
  }

  .opportunity__item-body br {
    display: block;
  }

  .opportunity__item-body .opportunity__item-body-gap-desktop {
    display: none;
  }


  .opportunity__link {
    color: #d22856;
    margin-top: 10px;
    display: block;
    text-decoration: underline;
  }

  .opportunity__item-body--time {
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .opportunity {
    width: 300px;
    padding: 0;
  }

  .opportunity__item-head-time {
    text-align: left;
  }

  .opportunity__time {
    width: 580px;
  }

  .opportunity__item-head br {
    display: block;
  }

  .opportunity__item-body br {
    display: none;
  }

  .opportunity__item-head--time br {
    display: none;
  }

  .opportunity__item-body .opportunity__item-body-gap-desktop {
    display: block;
  }

  .opportunity__item-head {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 25px;
  }

  .opportunity__item-head--time {
    text-align: left;
    padding-top: 87px;
  }

  .opportunity__link {
    font-size: 18px;
    line-height: 30px;
    color: #d22856;
    margin-top: 31px;
  }

  .opportunity__item-body {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 240px;
    margin: 0 auto;
  }

  .opportunity__item-body--time {
    text-align: left;
    margin: 0;
    width: auto;
  }
}
