.page-footer__logo {
  width: 150px;
  margin-bottom: 30px;
}

.page-footer__social-links {
  // width: 150px;
  height: 55px;
  margin-bottom: 46px;
}

.page-footer__develop {
  width: 154px;
}

.page-footer--index {
  display: none;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__develop-link {
  position: relative;
  display: block;
  color: #283645;
  line-height: 18px;
  margin-left: 11px;
}

.page-footer__develop-link-icon {
  position: absolute;
  width: 40px;
  top: -15px;
  right: 7px;
}

.page-footer__develop-link-icon:hover {
  path {
    fill: #283645;
  }
}

.page-footer__develop-link-icon:active {
  path {
    fill: #bec2c7;
  }
}

.page-footer__logo-image-desktop {
  display: none;
}

.page-footer__logo-image:active {
  path {
    opacity: 0.3;
  }
}

// .page-footer__logo-image .qqqq:active{
//   path{
//     fill:green;
//   }
// }

.page-footer__logo-image:hover {
  path {
    fill: #d22856;
  }
}


@media (min-width: @tablet-width) {
  .page-footer {
    padding: 0;
  }

  .page-footer--index {
    display: block;
  }

  .page-footer__wrapper {
    padding: 38px 0;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    min-height: 50px;
    margin: 0;
  }

  .page-footer__social-links {
    // width: 150px;
    height: 55px;
    margin: 0;
  }

  .page-footer__develop {
    min-height: 50px;
    padding: 0;
    width: 150px;
  }

  .page-footer__develop-link {
    position: relative;
    padding: 20px 0 0 20px;
    margin: 0;
    display: block;
  }

  .page-footer__develop-link-icon {
    top: 5px;
    right: -7px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    padding: 30px 0;
    box-sizing: border-box;
    max-width: 940px;
  }

  .page-footer__develop {
    padding-top: 10px;
    width: 153px;
  }

  .page-footer__develop-link {
    padding: 8px 0;
    font-size: 18px;
  }

  .page-footer__develop-link-icon {
    top: -4px;
    right: -1px;
  }

  .page-footer__logo-image-mobile {
    display: none;
  }

  .page-footer__logo-image-desktop {
    display: block;
  }

  .page-footer__logo {
    padding-bottom: 16px;
    width: 160px;
  }
}
