.page-header__logo {
  display: block;
  padding: 20px 20px 19px;
}

.page-header__logo-image--tablet {
  display: none;
}

.page-header__logo-image--desktop {
  display: none;
}

.page-header__logo-image:hover {
  path {
    fill: #d22856;
  }
}

.page-header__logo-image:active {
  path {
    fill: #ffffff;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    padding: 27px 19px 42px;
  }

  .page-header__logo-image--tablet {
    display: block;
  }

  .page-header__logo-image--mobile {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .page-header__logo {
    padding: 0 0 12px;
  }

  .page-header__logo-image--tablet {
    display: none;
  }

  .page-header__logo-image--desktop {
    display: block;
  }
}
