// задал временные цвета для наглядности расположения пока не размеченых элементов
.page-footer {
  padding-top: 40px;
  max-width: 320px;
  margin: 0 auto;

  &__logo {
    background: green;
    width: 150px;
    height: 40px;
    margin-bottom: 40px;
  }

  &__social-links {
    width: 150px;
    height: 40px;
    background: pink;
    margin-bottom: 43px;
  }

  &__develop {
    width: 150px;
    height: 40px;
    background-color: blue;
  }

  &__develop-link {
    color: #283645;
    line-height: 18px;
  }
}

@media (min-width: 660px) {
  .page-footer {
    max-width: 620px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .page-footer {
    max-width: 940px;
  }
}
