.page-main {
  // margin: 0 auto;

  .page-main__logo-image--panorama {
    width: 100%;
  }

  .page-main__wrapper {
    max-width: 280px;
    // margin: 0 auto;
  }
}

.page-main__form {
  width: 15px;
  height: 15px;
  background: red;
  margin-top: 567px;
}

@media (min-width: 660px) {
  .page-main {
    // max-width: 660px;
    // margin: 0 auto;

    .page-main__wrapper {
      display: flex;
      flex-wrap: wrap;
      max-width: 620px;
      justify-content: space-between;
    }
  }
}

@media (min-width: @desktop-width) {
  // .page-main {
  //   max-width: 960px;

  //   .page-main__wrapper {
  //     max-width: 940px;
  //   }
  // }
}
