.page-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    display: block;
    padding: 20px;
  }
}

.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0f1419;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    padding: 27px 19px 36px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    margin: 0;
  }

  .page-header__logo {
    padding: 0;
  }
}
