.reviews {
  margin-top: 41px;
  margin-bottom: 38px;
}

.reviews__wrapper {
  max-width: 280px;
  margin: 0 auto;
}

.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}

.reviews__about {
  display: none;
}

.reviews__comment {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.reviews__item {
  width: 280px;
  margin: 0;
}

.reviews__list {
  text-align: center;
}

.reviews__list .reviews__item--hide {
  display: none;
}

.reviews__button {
  display: none;
}

.reviews__slider {
  position: relative;
}

@media (min-width: @tablet-width) {
  .reviews {
    margin-top: 70px;
    margin-bottom: 0;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    width: 620px;
  }

  .reviews__about {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    order: -1;
  }

  .reviews__wrapper {
    max-width: 620px;
    padding-bottom: 25px;
  }

  .reviews__comment {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .reviews__name {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    margin: 0;
  }

  .reviews__list {
    background: url("../img/icon-quotes.svg") no-repeat 50% 39px;
    padding-top: 133px;
  }

  .reviews__wrapper {
    box-sizing: border-box;
    max-width: 940px;
  }

  .reviews__item {
    width: 780px;
    margin: 0 auto;
  }

  .reviews__name {
    font-size: 24px;
  }


  .reviews__about {
    font-size: 18px;
  }

  .reviews__nav {
    position: relative;
  }

  .reviews__button {
    display: block;
  }

  .reviews__button--prev {
    position: absolute;
    top: -160px;
    width: 35px;
    height: 45px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 12px;
  }

  .reviews__button--prev::before {
    content: "";
    position: absolute;
    background: #283645;
    opacity: 0.3;
    width: 30px;
    height: 2px;
    left: -4px;
    top: 12px;
    transform: rotate(-45deg);
  }

  .reviews__button--prev::after {
    content: "";
    position: absolute;
    background: #283645;
    opacity: 0.3;
    width: 30px;
    height: 2px;
    left: -4px;
    top: 32px;
    transform: rotate(45deg);
  }

  .reviews__button--prev:hover::before,
  .reviews__button--prev:hover::after,
  .reviews__button--next:hover::before,
  .reviews__button--next:hover::after {
    background: #283645;
    opacity: 0.6;
  }

  .reviews__button--prev:active::before,
  .reviews__button--prev:active::after,
  .reviews__button--next:active::before,
  .reviews__button--next:active::after {
    background: #283645;
    opacity: 0.1;
  }

  .reviews__button--next {
    position: absolute;
    top: -160px;
    width: 35px;
    height: 45px;
    right: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 12px;
  }

  .reviews__button--next::before {
    content: "";
    position: absolute;
    background: #283645;
    opacity: 0.3;
    width: 30px;
    height: 2px;
    left: 9px;
    top: 12px;
    transform: rotate(45deg);
  }

  .reviews__button--next::after {
    content: "";
    position: absolute;
    background: #283645;
    opacity: 0.3;
    width: 30px;
    height: 2px;
    left: 9px;
    top: 32px;
    transform: rotate(-45deg);
  }
}
