.social-links {
  display: flex;
  width: 181px;
  height: 50px;
  justify-content: space-between;
}

.social-links__item {
  width: 47px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}

.social-links__item--tw {
  background: url("../img/icon-twitter.svg") no-repeat 50%;
}

.social-links__item--fb {
  background: url("../img/icon-facebook.svg") no-repeat 50%;
}

.social-links__item--video {
  background: url("../img/icon-youtube.svg") no-repeat 50%;
}
