.user-photo {
  width: 280px;

  &__comment {
    background-color: #f2f2f2;
  }

  &__name {
    text-transform: uppercase;
    background-color: #d22856;
    color: #ffffff;
  }
}

.user-photo--panorama {
  width: 100%;
  margin-bottom: 50px;
}

.user-photo__comment-panorama {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .user-photo {
    width: 300px;

    .user-photo__comment-panorama {
      min-width: 620px;
      margin: 0 auto;
    }
  }

  .user-photo--panorama {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .user-photo {
    .user-photo__comment-panorama {
      min-width: 940px;
    }
  }

  .user-photo--panorama {
    width: 100%;
  }
}
