.user-photo {
  margin-bottom: 21px;
}

.user-photo__comment {
  background-color: #f2f2f2;
}

.user-photo__name {
  text-transform: uppercase;
  background-color: #d22856;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  line-height: 35px;
  width: 140px;
  height: 36px;
  padding-left: 19px;
  box-sizing: border-box;
}

.user-photo__picture {
  position: relative;
}

.user-photo--panorama {
  width: 100%;
}

.user-photo__comment-panorama {
  max-width: 280px;
  padding-bottom: 0;
  margin: 0 auto;
}

.user-photo__comment-wrapper {
  position: relative;
  padding: 18px;
  display: flex;
  flex-direction: column;
}

.user-photo__name-wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
}


@media (min-width: @tablet-width) {
  .user-photo {
    width: 300px;
    margin-bottom: 20px;
  }

  .user-photo__comment {
    padding-bottom: 10px;
    position: relative;
  }

  .user-photo__comment-panorama {
    padding-bottom: 0;
    max-width: 620px;
  }

  .user-photo--panorama {
    width: 100%;
    margin-bottom: 50px;
  }

  .user-photo__name {
    top: 57px;
    right: 20px;
    font-weight: bold;
  }

  .user-photo__comment-wrapper {
    padding-left: 27px;
    padding-bottom: 13px;
  }

  .user-photo__name-wrapper {
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .user-photo {
    margin-bottom: 55px;
  }

  .user-photo--panorama {
    width: 100%;
    margin-bottom: 49px;
  }

  .user-photo__comment-panorama {
    max-width: 940px;
  }

  .user-photo__name {
    top: 53px;
    right: 10px;
  }

  .user-photo__name-wrapper {
    width: 960px;
  }
}
