.agitation {
  padding-top: 45px;
  padding-bottom: 49px;
}
.agitation__text {
  color: #283645;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
  max-width: 280px;
}
@media (min-width: 660px) {
  .agitation {
    padding-top: 92px;
    padding-bottom: 76px;
  }
  .agitation__text {
    font-size: 18px;
    line-height: 30px;
    max-width: 440px;
  }
  .agitation__text br {
    display: none;
  }
}
@media (min-width: 960px) {
  .agitation {
    padding-top: 92px;
    padding-bottom: 89px;
  }
  .agitation__text {
    max-width: 575px;
  }
}
.comment {
  color: #283645;
  line-height: 24px;
}
.comment__user-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  margin: 0;
}
.comment__time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
.comment__user-message {
  margin: 0;
  margin-bottom: 10px;
}
.comment__user-likes--panorama::after {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 19px;
  bottom: 18px;
  left: 18px;
  background: url("../img/icon-heart.svg") no-repeat;
  background-size: 13px;
}
.comment__user-likes::after {
  position: absolute;
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  bottom: 23px;
  left: 18px;
  background: url("../img/icon-heart.svg") no-repeat;
  background-size: 13px;
}
.comment__user-likes-sum {
  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  padding-left: 31px;
}
@media (min-width: 660px) {
  .comment__user-message {
    min-height: 48px;
    margin-bottom: 11px;
  }
  .comment__user-likes--panorama::after {
    top: 28px;
    left: 578px;
  }
  .comment__user-likes::after {
    bottom: 20px;
    left: 255px;
  }
  .comment__user-name {
    padding-top: 5px;
  }
  .comment__user-likes-sum--panorama {
    position: absolute;
    top: 25px;
    right: 59px;
  }
  .comment__user-likes-sum {
    padding: 0;
  }
}
@media (min-width: 960px) {
  .comment__user-likes--panorama::after {
    top: 30px;
    left: 896px;
  }
}
.comment__user-likes-sum--panorama {
  top: 25px;
  right: 62px;
}
.download {
  color: #ffffff;
  padding-bottom: 33px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;
  background-color: #1d2631;
  background-size: 322px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .download {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat 0 -70px;
    background-size: 322px;
    background-color: #1d2631;
  }
}
.download__button {
  font-size: 18px;
  line-height: 18px;
}
.download__availability {
  line-height: 24px;
  margin: 0;
  text-align: center;
}
.download__column {
  width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-top: 27px;
}
.download__link {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  padding: 15px;
  border: 3px solid #ffffff;
  border-radius: 50px;
  margin-bottom: 22px;
}
.download__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.download__item {
  width: 60px;
  height: 60px;
  margin: 10px;
}
.download .download__item--apple {
  background: url("../img/logo-apple.svg") no-repeat 50%;
}
.download .download__item--android {
  background: url("../img/logo-android.svg") no-repeat 50%;
  padding-top: 7px;
}
.download .download__item--windows {
  background: url("../img/logo-microsoft.svg") no-repeat 50%;
  padding-top: 7px;
}
.download__agitation {
  margin: 0;
  display: none;
}
.download__wrapper-column {
  background: #1d2631;
}
.download__wrapper::before {
  content: "";
  display: block;
  height: 395px;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 0 bottom;
  background-size: auto, cover;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .download__wrapper::before {
    background: url("../img/iphone-hand-mobile@2x.png") no-repeat 0 bottom;
    background-size: 258px;
  }
}
@media (min-width: 660px) {
  .download {
    min-height: 618px;
    padding-bottom: 0;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 28%;
  }
  .download__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 94px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat 50% 100%;
  }
  .download__wrapper-column {
    background: transparent;
  }
  .download__column {
    min-height: 523px;
    width: 300px;
    margin: 0;
  }
  .download__agitation {
    display: block;
    font-size: 40px;
    line-height: 47px;
    font-weight: 300;
  }
  .download__link {
    margin-top: 33px;
    margin-bottom: 32px;
  }
  .download__logo {
    margin-bottom: 20px;
  }
  .download__availability {
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .download {
    background: url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 27%;
    background-size: 1195px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .download__wrapper {
    background: url("../img/iphone-hand-tablet@2x.png") no-repeat 50% 100%;
    background-size: 113%;
  }
}
@media (min-width: 960px) {
  .download {
    margin: 0;
    background: transparent;
  }
  .download__wrapper {
    padding-top: 116px;
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat -15% 100%;
  }
  .download__column {
    margin: 0;
    min-height: 633px;
  }
  .download__agitation {
    display: block;
    font-size: 50px;
    line-height: 59px;
    font-weight: 300;
  }
  .download__link {
    margin-top: 55px;
    margin-bottom: 56px;
    letter-spacing: 2px;
  }
  .download__logo {
    margin-bottom: 35px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .download__wrapper {
    background: url("../img/iphone-hand-desktop@2x.png") no-repeat -15% 100%;
    background-size: 113%;
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: 700;
}
.main-nav {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-nav__toggle {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 36px;
  height: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 5px;
  width: 30px;
  height: 5px;
  background-color: #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.main-nav__wrapper {
  display: none;
}
.main-nav--opened .main-nav__wrapper {
  display: block;
}
.main-nav--opened {
  position: static;
}
@media (max-width: 959px) {
  .main-nav--closed .site-list__item {
    display: none;
  }
}
@media (min-width: 660px) {
  .main-nav__toggle {
    right: 36px;
    top: 28px;
  }
  .main-nav--opened .main-nav__toggle::before {
    top: 26px;
    left: 25px;
  }
  .main-nav--opened .main-nav__toggle::after {
    top: 26px;
    left: 25px;
  }
}
@media (min-width: 960px) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    outline: 2px solid red;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 620px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    position: static;
    max-width: 960px;
    margin: 0 auto;
    padding: 29px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-nav .main-nav__wrapper {
    display: block;
  }
}
.offer__header {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 56px;
}
.offer__opportunity {
  padding-top: 62px;
  background-color: #f2f2f2;
}
.offer__question {
  margin-top: 40px;
  margin-bottom: 33px;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #283645;
}
.offer__slogan {
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: #283645;
}
.offer__image {
  min-height: 278px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 0;
  margin-top: 40px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .offer__image {
    background: url("../img/iphone-screen-mobile@2x.png") no-repeat 50% 0;
    background-size: 157px;
  }
}
.offer__opportunity--time {
  display: none;
}
.offer__item {
  width: 280px;
  margin: 0 auto;
}
.offer__slogan-gap {
  display: none;
}
@media (min-width: 660px) {
  .offer__wrapper {
    background-color: #f2f2f2;
  }
  .offer__opportunity {
    margin-bottom: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: auto;
    position: relative;
    padding: 0;
  }
  .offer__header {
    max-width: 600px;
    margin-bottom: 0;
  }
  .offer__slogan-gap {
    display: block;
  }
  .offer__question {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 21px;
  }
  .offer__slogan {
    font-size: 40px;
    line-height: 24px;
  }
  .offer__opportunity-image {
    position: relative;
    width: 300px;
  }
  .offer__opportunity-image-time {
    width: 240px;
    height: 280px;
  }
  .offer__opportunity-image::after {
    content: "24";
    position: absolute;
    top: 56px;
    left: 18px;
    text-align: center;
    font-size: 98px;
    font-weight: 700;
    line-height: 198px;
    color: #d22856;
    background: url("../img/icon-editor-diagram-fill.svg") no-repeat;
    background-size: cover;
    width: 203px;
    height: 203px;
  }
  .offer__opportunity--time {
    background: #ffffff;
  }
  .offer__image {
    width: 300px;
    height: 486px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat;
  }
  .offer__item {
    width: 320px;
    margin-top: 108px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .offer__image {
    background: url("../img/iphone-screen-3-tablet@2x.png") no-repeat 0 0;
    background-size: 267px;
  }
}
@media (min-width: 960px) {
  .offer__header {
    background-color: #ffffff;
    max-width: 750px;
    margin-bottom: 89px;
  }
  .offer__opportunity {
    margin: 0;
  }
  .offer__opportunity-image {
    width: 370px;
  }
  .offer__opportunity-image::after {
    top: 72px;
    left: 24px;
    font-size: 119px;
    line-height: 238px;
    width: 253px;
    height: 253px;
  }
  .offer__question {
    font-size: 50px;
    margin-top: 86px;
    margin-bottom: 35px;
  }
  .offer__slogan {
    font-size: 50px;
  }
  .offer__slogan-gap {
    line-height: 36px;
  }
  .offer__item {
    margin: 0;
    width: 940px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer__opportunity-gap {
    display: none;
  }
  .offer__opportunity--time {
    background-color: #f2f2f2;
    padding-bottom: 52px;
  }
  .offer__opportunity-image-time {
    width: 300px;
    height: 355px;
  }
  .offer__item-image-1::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 0%;
  }
  .offer__item-image-2::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 75% 0%;
  }
  .offer__item-image-3::before {
    content: " ";
    display: block;
    width: 300px;
    height: 350px;
    left: 50%;
    top: 50px;
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 85% 0;
  }
  .offer__image {
    display: none;
  }
  .offer__wrapper-time {
    padding-top: 28px;
    background: #f2f2f2;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .offer__item-image-1::before {
    background: url("../img/iphone-screen-1-desktop@2x.png") no-repeat 50% 0%;
    background-size: 292px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .offer__item-image-2::before {
    background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat 75% 0%;
    background-size: 292px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .offer__item-image-3::before {
    background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat 85% 0;
    background-size: 292px;
  }
}
.opportunity {
  margin-bottom: 32px;
}
.opportunity__item-head {
  text-align: center;
  margin: 0;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #283645;
}
.opportunity__item-body {
  margin: 0;
  text-align: center;
  letter-spacing: 0;
  color: #283645;
}
.opportunity__item-head--gap {
  display: none;
}
@media (min-width: 660px) {
  .opportunity {
    margin-bottom: 34px;
    padding-left: 10px;
  }
  .opportunity--time {
    width: 310px;
    text-align: left;
  }
  .opportunity__item-body {
    text-align: left;
  }
  .opportunity__item-head {
    text-align: left;
    margin-bottom: 12px;
  }
  .opportunity__item-head--time {
    padding-top: 37px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
  }
  .opportunity__link {
    color: pink;
    margin-top: 7px;
    display: block;
  }
}
@media (min-width: 960px) {
  .opportunity {
    width: 300px;
    padding: 0;
  }
  .opportunity__item-head-time {
    text-align: left;
  }
  .opportunity--time {
    width: 580px;
  }
  .opportunity__item-head {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 8px;
    margin-bottom: 25px;
  }
  .opportunity__item-head--time {
    text-align: left;
    padding-top: 87px;
  }
  .opportunity__item-head--gap {
    display: block;
  }
  .opportunity__link {
    font-size: 18px;
    line-height: 30px;
    color: #d22856;
    margin-top: 31px;
  }
  .opportunity__item-body {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    width: 240px;
    margin: 0 auto;
  }
  .opportunity__item-body--time {
    text-align: left;
    margin: 0;
    width: auto;
  }
}
body {
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  line-height: 24px;
}
a {
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 660px) {
  .wrapper {
    max-width: 660px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (min-width: 960px) {
  .wrapper {
    max-width: 960px;
    padding: 0 10px;
  }
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-footer {
  padding-top: 40px;
}
.page-footer__logo {
  width: 150px;
  margin-bottom: 33px;
}
.page-footer__social-links {
  width: 150px;
  height: 55px;
  margin-bottom: 40px;
}
.page-footer__develop {
  width: 154px;
}
.page-footer--index {
  display: none;
}
.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-footer__develop-link {
  position: relative;
  display: block;
  color: #283645;
  line-height: 18px;
  margin-left: 11px;
}
.page-footer__develop-link-icon {
  /* position: absolute; */
  /* outline: 2px solid black; */
  width: 28px;
  /* height: 5px; */
  /* top: 3px; */
  margin-left: 11px;
  vertical-align: middle;
}
@media (min-width: 660px) {
  .page-footer {
    padding: 0;
  }
  .page-footer--index {
    display: block;
  }
  .page-footer__wrapper {
    min-height: 116px;
    max-width: 620px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-footer__logo {
    margin: 0;
  }
  .page-footer__social-links {
    width: 150px;
    height: 55px;
    margin: 0;
    margin-top: 10px;
  }
  .page-footer__develop {
    padding: 0;
    text-align: right;
  }
  .page-footer__develop-link {
    position: relative;
    padding: 16px 0 0 20px;
    margin: 0;
    display: block;
  }
  .page-footer__develop-link-icon {
    width: 27px;
    vertical-align: middle;
    margin-left: 8px;
  }
}
@media (min-width: 960px) {
  .page-footer {
    margin-top: 65px;
  }
  .page-footer__wrapper {
    max-width: 940px ;
    min-height: 110px;
  }
  .page-footer__develop {
    padding-top: 21px;
  }
  .page-footer__develop-link {
    padding: 0;
    font-size: 18px;
  }
}
.page-header__logo {
  display: block;
  padding: 20px;
}
@media (min-width: 660px) {
  .page-header__logo {
    padding: 27px 19px 36px;
  }
}
@media (min-width: 960px) {
  .page-header {
    margin: 0;
  }
  .page-header__logo {
    padding: 0;
  }
}
.page-main__image-panorama {
  width: 100%;
}
.page-main__wrapper {
  max-width: 280px;
  margin: 0 auto;
}
.page-main__form__agitation {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  margin-top: 45px;
}
.page-main__form__agitation-text {
  display: none;
}
.page-main__form {
  outline: 2px solid green;
}
@media (min-width: 660px) {
  .page-main__wrapper {
    max-width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .page-main__image-panorama {
    height: 509px;
  }
  .page-main__form__agitation {
    font-size: 18px;
    max-width: 560px;
    padding-top: 47px;
  }
  .page-main__form__agitation-text {
    display: inline;
    margin: 0;
  }
}
@media (min-width: 960px) {
  .page-main__wrapper {
    max-width: 940px;
    padding: 0;
  }
  .page-main__form__agitation {
    max-width: 780px;
    padding-top: 29px;
  }
}
.photo__wrapper-image {
  min-height: 170px;
}
@media (min-width: 660px) {
  .photo__wrapper-image {
    min-height: 329px;
  }
}
@media (min-width: 960px) {
  .photo__wrapper-image {
    min-height: 289px;
  }
}
.site-list {
  padding: 0;
  margin: 0;
  background: #283645;
}
.site-list__item {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  list-style: none;
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #000001;
  border-top: 1px solid #485461;
}
@media (min-width: 960px) {
  .site-list {
    background: transparent;
  }
  .site-list__item {
    border: none;
    text-transform: none;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 18px;
    padding: 0;
  }
}
.user-photo {
  margin-bottom: 20px;
}
.user-photo__comment {
  background-color: #f2f2f2;
}
.user-photo__name {
  text-transform: uppercase;
  background-color: #d22856;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 20px;
  margin: 0;
  font-size: 12px;
  line-height: 35px;
  width: 140px;
  height: 36px;
  padding-left: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.user-photo__picture {
  position: relative;
  margin-bottom: -6px;
}
.user-photo--panorama {
  width: 100%;
}
.user-photo__comment-panorama {
  max-width: 280px;
  padding-bottom: 0;
  margin: 0 auto;
}
.user-photo__comment-wrapper {
  position: relative;
  padding: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 660px) {
  .user-photo {
    width: 300px;
    margin-bottom: 20px;
  }
  .user-photo__comment {
    padding-bottom: 9px;
    position: relative;
  }
  .user-photo__comment-panorama {
    padding-bottom: 0;
    max-width: 620px;
  }
  .user-photo--panorama {
    width: 100%;
    margin-bottom: 50px;
  }
  .user-photo__name {
    top: 57px;
    right: 20px;
    font-weight: bold;
  }
  .user-photo__comment-wrapper {
    padding-left: 27px;
    padding-bottom: 14px;
  }
}
@media (min-width: 960px) {
  .user-photo {
    margin-bottom: 55px;
  }
  .user-photo--panorama {
    width: 100%;
    margin-bottom: 25px;
  }
  .user-photo__item {
    outline: 2px solid red;
  }
  .user-photo__comment-panorama {
    max-width: 940px;
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  /* 1 */
  font: inherit;
  /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 181px;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.social-links__item {
  width: 47px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
}
.social-links__item--tw {
  background: url("../img/icon-twitter.svg") no-repeat 50%;
}
.social-links__item--fb {
  background: url("../img/icon-facebook.svg") no-repeat 50%;
}
.social-links__item--video {
  background: url("../img/icon-youtube.svg") no-repeat 50%;
}
.content {
  background: #283645;
}
.content__photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -67px;
  background-color: #1d2631;
  background-size: 322px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .content__photo {
    background: url("../img/bg-back-mobile@2x.jpg") no-repeat 0 -70px;
    background-size: 322px;
    background-color: #1d2631;
  }
}
.content__title {
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  text-align: center;
  padding-top: 31px;
  max-width: 280px;
  margin: 0 auto;
}
@media (min-width: 660px) {
  .content__photo {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 28%;
  }
  .content__title {
    font-size: 50px;
    line-height: 60px;
    padding-top: 69px;
    max-width: 620px;
  }
}
@media (min-width: 660px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .content__photo {
    background: url("../img/bg-back-tablet@2x.jpg") no-repeat 50% 27%;
    background-size: 1195px;
  }
}
@media (min-width: 960px) {
  .content {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0%;
  }
  .content__photo {
    margin: 0;
    background: transparent;
  }
  .content__title {
    padding-top: 63px;
    max-width: 750px;
  }
}
@media (min-width: 960px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 960px) and (min-resolution: 144dpi), (min-width: 960px) and (min-resolution: 1.5dppx) {
  .content {
    background: url("../img/bg-back-desktop@2x.jpg") no-repeat 50%;
    background-size: 3000px;
  }
}
.contacts {
  outline: 2px solid red;
  max-width: 280px;
  margin: 0 auto;
  margin-top: 42px;
}
.contacts__question {
  padding-top: 0;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  color: #283645;
  margin-bottom: 35px;
}
.contacts__info {
  text-align: center;
}
.contacts__info--call {
  margin-bottom: 17px;
}
.contacts__info--mail {
  margin-bottom: 25px;
}
.contacts__info-item h3 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: #283645;
  margin-bottom: 5px;
}
.contacts__info-item p {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  margin: 0;
  line-height: 28px;
}
@media (min-width: 660px) {
  .contacts {
    max-width: 620px;
    margin-top: 70px;
  }
  .contacts__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts__info-item {
    width: 295px;
    outline: 2px solid;
  }
  .contacts__question {
    font-size: 40px;
    line-height: 47px;
    padding-top: 0;
    margin-bottom: 45px;
  }
  .contacts__info--address {
    margin: 0 auto;
    margin-top: 23px;
  }
}
@media (min-width: 960px) {
  .contacts {
    margin-top: 68px;
    max-width: 940px;
  }
  .contacts__question {
    font-size: 50px;
    line-height: 56px;
    margin-bottom: 59px;
  }
  .contacts__info-item {
    width: 300px;
  }
  .contacts__info--mail {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contacts__info--address {
    margin: 0 auto;
  }
  .contacts__info-item h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #283645;
    margin-bottom: 25px;
  }
}
.reviews {
  margin-top: 41px;
  margin-bottom: 38px;
}
.reviews__wrapper {
  max-width: 280px;
  margin: 0 auto;
}
.reviews__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  margin: 0;
}
.reviews__about {
  display: none;
}
.reviews__comment {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.reviews__item {
  width: 280px;
  margin: 0;
}
.reviews__list {
  text-align: center;
}
.reviews__list .reviews__item--hide {
  display: none;
}
.reviews__button {
  display: none;
}
.reviews__slider {
  position: relative;
}
@media (min-width: 660px) {
  .reviews {
    margin-top: 70px;
  }
  .reviews__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 620px;
  }
  .reviews__about {
    margin: 0;
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: #283645;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .reviews__wrapper {
    max-width: 620px;
    outline: 2px solid red;
    padding-bottom: 25px;
  }
  .reviews__comment {
    font-size: 18px;
    margin-bottom: 35px;
  }
  .reviews__name {
    font-size: 20px;
  }
}
@media (min-width: 960px) {
  .reviews {
    margin: 0;
  }
  .reviews__list {
    background: url("../img/icon-quotes.svg") no-repeat 50% 73px;
    padding-top: 168px;
  }
  .reviews__wrapper {
    box-sizing: border-box;
    max-width: 940px;
  }
  .reviews__item {
    width: 780px;
    margin: 0 auto;
    outline: 2px solid green;
  }
  .reviews__name {
    font-size: 24px;
  }
  .reviews__about {
    font-size: 18px;
  }
  .reviews__nav {
    position: relative;
  }
  .reviews__button {
    display: block;
  }
  .reviews__button--prev {
    position: absolute;
    top: -160px;
    width: 35px;
    height: 45px;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 12px;
  }
  .reviews__button--prev::before {
    content: "";
    position: absolute;
    background: #bec2c7;
    width: 30px;
    height: 2px;
    left: -4px;
    top: 12px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .reviews__button--prev::after {
    content: "";
    position: absolute;
    background: #bec2c7;
    width: 30px;
    height: 2px;
    left: -4px;
    top: 32px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .reviews__button--next {
    position: absolute;
    top: -160px;
    width: 35px;
    height: 45px;
    right: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 12px;
  }
  .reviews__button--next::before {
    content: "";
    position: absolute;
    background: #bec2c7;
    width: 30px;
    height: 2px;
    left: 9px;
    top: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .reviews__button--next::after {
    content: "";
    position: absolute;
    background: #bec2c7;
    width: 30px;
    height: 2px;
    left: 9px;
    top: 32px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
.slider__controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.slider__controls .slider__controls-item-1::after {
  content: "";
  position: absolute;
  top: 19px;
  left: 109px;
  z-index: 2;
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  border-radius: 50%;
}
.slider__controls .slider__controls-item-2::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 100px;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
}
.slider__controls .slider__controls-item-3::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 87px;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
}
@media (min-width: 660px) {
  .slider__controls {
    margin: 0 auto;
    width: 70px;
  }
  .slider__controls label {
    padding: 0;
  }
  .slider__controls .slider__controls-item-1::after {
    top: 31px;
    left: 4px;
  }
  .slider__controls .slider__controls-item-2::after {
    top: 34px;
    left: 10px;
  }
  .slider__controls .slider__controls-item-3::after {
    top: 34px;
    left: 14px;
  }
}
.map {
  position: relative;
}
.map::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat 50% 0;
}
.map__size {
  height: 220px;
  width: 100%;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat;
}
@media (min-width: 660px) {
  .map__size {
    height: 427px;
  }
}
@media (min-width: 960px) {
  .map__size {
    height: 523px;
  }
}
.form-competition {
  padding-top: 20px;
}
.form-competition__item {
  border: none;
  padding: 0;
  margin: 0 auto;
  width: 280px;
  margin-bottom: 10px;
}
.form-competition__user-name {
  margin: 0;
}
.form-competition__wrapper {
  background: #f2f2f2;
}
.form-competition__item legend {
  max-width: 250px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
}
.form-competition__user-name label {
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  padding-left: 22px;
}
.form-competition__user-name input {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
}
.form-competition__achievement {
  margin-top: 25px;
}
.form-competition__achievement-title {
  padding-top: 38px;
  padding-bottom: 43px;
}
.form-competition__achievement-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 70px;
}
.form-competition__achievement-list-item {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 52px;
}
.form-competition__achievement-list-item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  left: -67px;
  top: -1px;
  outline: 2px solid #e5e5e5;
  background: #ffffff;
}
.form-competition__contacts-item label {
  color: #d22856;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  padding-left: 22px;
}
.form-competition__contacts {
  padding-top: 17px;
}
.form-competition__contacts-title {
  display: none;
}
.form-competition__contacts-item {
  margin: 0;
}
.form-competition__contacts-item input {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 16px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid #e7e7e7;
}
.form-competition__platform {
  margin-top: 25px;
}
.form-competition__platform-title {
  padding: 38px 0;
}
.form-competition__platform-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 70px;
}
.form-competition__platform-list-item {
  position: relative;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  margin-bottom: 45px;
}
.form-competition__platform-list-item::before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  left: -70px;
  top: -3px;
  background: #ffffff;
}
.form-competition__area-title {
  padding-top: 31px;
  padding-bottom: 17px;
}
.form-competition__area-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e7e7e7;
  min-height: 200px;
}
.form-competition__send-btn {
  width: 280px;
  padding: 17px 0;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  background-color: #2aab6d;
  margin-top: 31px;
  margin-bottom: 37px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
}
.form-competition__send-info {
  text-transform: uppercase;
  text-align: center;
}
.form-competition__send-info-text {
  display: none;
}
@media (min-width: 660px) {
  .form-competition__user {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    padding-top: 45px;
  }
  .form-competition__wrapper-achievement {
    padding-top: 45px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .form-competition__wrapper-platform {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-competition__area {
    margin-top: 46px;
    padding-bottom: 45px;
    border: 2px solid #e7e7e7;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .form-competition__send {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 23px;
  }
  .form-competition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-competition__item {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  .form-competition__item legend {
    padding: 0;
    max-width: 380px;
  }
  .form-competition__platform {
    margin-top: 0;
    border: 2px solid #e5e5e5;
    padding-bottom: 14px;
  }
  .form-competition__platform-list {
    padding-left: 120px;
    padding-top: 48px;
  }
  .form-competition__platform-list-item::before {
    left: -60px;
    top: -2px;
  }
  .form-competition__contacts {
    border: 2px solid #e5e5e5;
    margin-top: 45px;
    padding-bottom: 17px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form-competition__contacts-title {
    display: block;
  }
  .form-competition__contacts-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-left: 59px;
    margin-top: 15px;
  }
  .form-competition__contacts-item input {
    margin-bottom: 9px;
    width: 503px;
  }
  .form-competition__contacts-item label {
    padding-bottom: 9px;
  }
  .form-competition__achievement {
    border: 2px solid #e5e5e5;
  }
  .form-competition__achievement-list {
    padding-left: 120px;
    padding-top: 48px;
  }
  .form-competition__achievement-list-item::before {
    left: -58px;
    top: -2px;
  }
  .form-competition__area-text {
    margin-left: 60px;
    margin-top: 37px;
    width: 500px;
    min-height: 193px;
  }
  .form-competition__send-btn {
    width: 300px;
  }
  .form-competition__user-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .form-competition__send-info {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .form-competition__user-name label {
    padding: 0;
    padding-top: 24px;
    margin-right: 18px;
  }
  .form-competition__wrapper {
    background: #ffffff;
  }
}
@media (min-width: 960px) {
  .form-competition {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 940px;
    margin: 0 auto;
  }
  .form-competition__item {
    margin: 0;
    width: auto;
  }
  .form-competition__user {
    width: 470px;
    margin-right: 34px;
    padding-top: 41px;
  }
  .form-competition__user-name input {
    width: 340px;
  }
  .form-competition__user-name .form-competition__user-name--long {
    width: 381px;
  }
  .form-competition__wrapper-platform {
    padding-top: 32px;
    width: 435px;
  }
  .form-competition__platform-list {
    padding-left: 133px;
    padding-top: 50px;
  }
  .form-competition__contacts {
    width: 940px;
    margin-top: 12px;
  }
  .form-competition__contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .form-competition__contacts-item {
    margin-left: 56px;
    margin-top: 11px;
    margin-right: 14px;
  }
  .form-competition__contacts-item input {
    width: 375px;
  }
  .form-competition__wrapper-achievement {
    width: 960px;
  }
  .form-competition__achievement-list {
    padding-left: 117px;
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form-competition__achievement-list-item {
    width: 210px;
  }
  .form-competition__group-2 {
    margin-left: 105px;
    margin-right: 85px;
  }
  .form-competition__achievement-list-item::before {
    left: -58px;
    top: -2px;
  }
  .form-competition__area {
    margin-top: 49px;
    width: 940px;
    padding-bottom: 36px;
  }
  .form-competition__area-text {
    margin-left: 58px;
    margin-top: 34px;
    width: 820px;
    min-height: 128px;
  }
  .form-competition__send {
    padding-top: 33px;
    width: 940px;
  }
  .form-competition__send-info-text {
    display: inline;
  }
}
.tariff__table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-left: -257px;
}
.tariff__table th {
  border-bottom: none;
  border-top: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 277px;
}
.tariff__table-sell-hide {
  display: none;
}
.tariff__table td {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 277px;
}
.tariff__table-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background: #283645;
  border: 2px solid #e5e5e5;
}
.tariff__wrapper {
  background: #f2f2f2;
  padding-top: 92px;
  padding-bottom: 99px;
}
.tariff__table p {
  margin: 0;
}
.tariff__table-head {
  height: 98px;
}
.tariff__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
}
.tariff__table-access {
  padding-top: 15px;
  padding-left: 21px;
  padding-bottom: 14px;
  border: none;
  position: relative;
}
.tariff__table-item-pink td {
  border-top: none;
}
.tariff__table-access--yes {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 14px;
  right: 14px;
}
.tariff__table-access--yes::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 0;
  width: 15px;
  height: 3px;
  background-color: #3dc644;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.tariff__table-access--yes::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  height: 3px;
  width: 29px;
  background-color: #3dc644;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}
.tariff__table-access--no {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 14px;
  right: 14px;
}
.tariff__table-access--no::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 36px;
  height: 3px;
  background-color: #f25b26;
  -webkit-transform: rotate(44deg);
          transform: rotate(44deg);
}
.tariff__table-access--no::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 0;
  width: 36px;
  height: 3px;
  background-color: #f25b26;
  -webkit-transform: rotate(-44deg);
          transform: rotate(-44deg);
}
.tariff__table-title-hit {
  position: relative;
}
.tariff__table-title-hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 76px;
  height: 76px;
  background: url("../img/bg-hit.svg") no-repeat;
}
.tariff__table-title-hit::after {
  content: "ХИТ";
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 11px;
  left: 8px;
  font-weight: 400;
  font-size: 15px;
}
.tariff__slider {
  position: relative;
}
.tariff__slider-controls .tariff__slider-controls-item-1::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 132px;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
}
.tariff__slider-controls .tariff__slider-controls-item-2::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 154px;
  z-index: 2;
  width: 6px;
  height: 6px;
  border: 3px solid #283645;
  border-radius: 50%;
}
.tariff__slider-controls .tariff__slider-controls-item-3::after {
  content: "";
  position: absolute;
  top: 43px;
  left: 182px;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: #283645;
  opacity: 0.3;
  border-radius: 50%;
}
@media (min-width: 660px) {
  .tariff__wrapper {
    padding-top: 70px;
    padding-bottom: 44px;
  }
  .tariff__table {
    max-width: 620px;
    margin: 0 auto;
  }
  .tariff__table th {
    min-width: 155px;
  }
  .tariff__table td {
    min-width: 155px;
    text-transform: initial;
  }
  .tariff__table-sell-hide {
    display: table-cell;
  }
  .tariff__table-head {
    height: 79px;
  }
  .tariff__table-access {
    padding-top: 7px;
    padding-left: 15px;
    padding-bottom: 8px;
  }
  .tariff__table-mobil {
    display: none;
  }
  .tariff__table-access--yes {
    top: 8px;
    right: 58px;
  }
  .tariff__table-access--no {
    top: 8px;
    right: 58px;
  }
  .tariff__table-title {
    font-size: 16px;
  }
  .tariff__cost {
    font-size: 18px;
    line-height: 24px;
  }
  .tariff__table-title-hit::before {
    left: -1px;
    background: url("../img/bg-hit-tablet.svg") no-repeat;
  }
  .tariff__table-title-hit::after {
    top: 3px;
    left: 7px;
    font-size: 13px;
  }
  .tariff__slider {
    display: none;
  }
}
@media (min-width: 960px) {
  .tariff__table {
    max-width: 940px;
  }
  .tariff__wrapper {
    padding-top: 143px;
    padding-bottom: 95px;
  }
  .tariff__table-head {
    height: 98px;
  }
  .tariff__table td {
    font-size: 18px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .tariff__table-access {
    padding-top: 13px;
    padding-left: 20px;
    padding-bottom: 16px;
  }
  .tariff__cost {
    font-size: 24px;
    line-height: 33px;
  }
  .tariff__table-access--yes {
    top: 17px;
    right: 98px;
  }
  .tariff__table-access--no {
    top: 15px;
    right: 99px;
  }
  .tariff__table-title-hit::before {
    background: url("../img/bg-hit.svg") no-repeat;
  }
  .tariff__table-title-hit::after {
    content: "ХИТ";
    top: 11px;
    left: 11px;
  }
}
.form-posting__title {
  text-align: center;
  max-width: 280px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 30px;
  padding-top: 20px;
  color: #283645;
}
.form-posting__list-wrapper {
  border-bottom: 1px solid #dddfe0;
}
.form-posting__form {
  padding-top: 62px;
}
.form-posting__wrapper {
  background: #f2f2f2;
}
.form-posting__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  padding-top: 33px;
  width: 240px;
  outline: 2px solid;
  margin: 0 auto;
  padding-bottom: 64px;
}
.form-posting__item {
  outline: 2px solid;
  width: 33%;
}
.form-posting__item .form-posting__crop {
  padding-left: 14px;
}
.form-posting__item .form-posting__contrast {
  padding: 8px 24px;
}
.form-posting__item .form-posting__fill {
  padding: 2px 15px;
}
.form-posting__photo {
  max-width: 280px;
  margin: 0 auto;
}
.form-posting__item button {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}
.form-posting__item-icon--contrast {
  width: 32px;
  height: 32px;
}
.form-posting__control {
  position: relative;
}
.form-posting__control--crop {
  position: absolute;
  width: 240px;
  height: 2px;
  background: black;
  top: 30px;
  left: -2px;
}
.form-posting__control--crop::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  right: 33px;
  top: -6px;
  background: #f2f2f2;
  border: 2px solid #d22856;
  border-radius: 50%;
}
.form-posting__control--fill {
  display: none;
}
.form-posting__control--contrast {
  display: none;
}
.form-posting__button-wrapper {
  max-width: 280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 37px;
  padding-bottom: 40px;
}
.form-posting__button-post {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #d22856;
  background: #ffffff;
  border: 3px solid #d22856;
  border-radius: 30px;
  padding: 16px;
}
.form-posting__button-cancel {
  opacity: 0.1;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #283645;
  background: #ffffff;
  border: 3px solid #283645;
  border-radius: 30px;
  padding: 16px;
  margin-top: 12px;
}
@media (min-width: 660px) {
  .form-posting__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 620px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 57px;
  }
  .form-posting__photo {
    max-width: 300px;
    margin: 0;
  }
  .form-posting__post {
    width: 300px;
    outline: 2px solid;
  }
  .form-posting__title {
    font-size: 18px;
    line-height: 30px;
    padding-top: 44px;
    max-width: 750px;
    padding-bottom: 69px;
  }
  .form-posting__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    width: auto;
  }
  .form-posting__item-icon {
    width: 24px;
    height: 40px;
    padding-left: 27px;
  }
  .form-posting__item .form-posting__crop {
    padding: 0;
  }
  .form-posting__item .form-posting__contrast {
    padding: 0;
  }
  .form-posting__item .form-posting__fill {
    padding: 0;
  }
  .form-posting__item {
    margin-bottom: 28px;
  }
  .form-posting__contrast .form-posting__item-icon--contrast {
    width: 16px;
    height: 25px;
    padding-left: 33px;
  }
  .form-posting__control--fill {
    display: block;
  }
  .form-posting__control--contrast {
    display: block;
  }
  .form-posting__control--crop {
    width: 202px;
    top: -28px;
    left: 80px;
  }
  .form-posting__control--crop::after {
    right: 42px;
  }
  .form-posting__control--fill {
    position: absolute;
    width: 202px;
    height: 2px;
    background: black;
    top: -30px;
    left: 80px;
  }
  .form-posting__control--fill::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 163px;
    top: -6px;
    background: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }
  .form-posting__control--contrast {
    position: absolute;
    width: 202px;
    height: 2px;
    background: black;
    top: -20px;
    left: 80px;
  }
  .form-posting__control--contrast::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    right: 92px;
    top: -6px;
    background: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 50%;
  }
  .form-posting__button-wrapper {
    max-width: 260px;
    padding-top: 55px;
    padding-bottom: 40px;
    margin: 0 0 0 27px;
  }
  .form-posting__button-cancel {
    margin-top: 23px;
  }
  .form-posting__wrapper {
    padding-bottom: 13px;
  }
}
@media (min-width: 960px) {
  .form-posting__title {
    padding-top: 0px;
    padding-bottom: 64px;
  }
  .form-posting__form {
    max-width: 940px;
    padding-top: 45px;
  }
  .form-posting__photo {
    margin-left: 80px;
    padding-top: 12px;
  }
  .form-posting__post {
    width: 412px;
    margin-right: 60px;
  }
  .form-posting__item {
    margin-bottom: 12px;
  }
  .form-posting__item-icon {
    width: 48px;
    height: 48px;
    padding-left: 0;
    padding-top: 8px;
  }
  .form-posting__contrast .form-posting__item-icon--contrast {
    width: 33px;
    height: 33px;
    padding-left: 7px;
  }
  .form-posting__control--crop {
    width: 288px;
    top: -32px;
    left: 94px;
  }
  .form-posting__control--crop::after {
    right: 203px;
  }
  .form-posting__control--fill {
    width: 288px;
    top: -34px;
    left: 94px;
  }
  .form-posting__control--fill::after {
    right: 27px;
  }
  .form-posting__control--contrast {
    width: 288px;
    top: -24px;
    left: 94px;
  }
  .form-posting__control--contrast::after {
    right: 114px;
  }
  .form-posting__button-wrapper {
    max-width: 412px;
    padding: 0;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0px auto;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 202px;
  }
  .form-posting__button-post {
    padding: 16px 40px;
    margin-left: 2px;
  }
  .form-posting__button-cancel {
    padding: 16px 52px;
  }
  .form-posting__wrapper {
    padding-bottom: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
